@{
    Layout = "~/Layouts/_Layout.cshtml";
}

<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <text>
            @RenderPage("~/Pages/header.cshtml");
        </text>
    }
    else
    {
        if (!User.IsInRole("admin"))
        {
            <text>
                @RenderPage("~/Pages/headerUser.cshtml");
            </text>
        }
        else
        {
            <text>
                @RenderPage("~/Pages/headerAdmin.cshtml");
            </text>
        }
    }
    <div id="content">
        <div class="note">
            <h2>В прошлый раз темой общения стало расселение восточно-славянских племен.</h2>

            <p>В этот раз мы продолжим разговор, но акцент сделаем на общественном строе.</p>

            <p>❗❗❗Что нужно запомнить о политической жизни славянских племен?</p>

            <p>1. Племена представляли собой РОДОВУЮ (кровное родство), а затем и СОСЕДСКУЮ общину;</p>

            <p>2. Общины располагались в небольших посёлках, которые объединялись в СОЮЗЫ (территориальные);</p>

            <p>3. Союзы племён возглавляли ВОЖДИ/КНЯЗЬЯ; но реальная власть принадлежала СТАРЕЙШИНАМ (вече) - общему собранию СВОБОДНОГО МУЖСКОГО населения.</p>

            <p>4. Настоящая задача вождей и князей - руководство ВОЕННОЙ ДРУЖИНОЙ и НАРОДНЫМ ОПОЛЧЕНИЕМ.</p>

            <p>❗❗❗Схемку можете посмотреть во вложениях)</p>
            <img src="~/Images/blog/sGTe0YQtLWQ.jpg" alt="Alternate Text" />
        </div>
        <div class="note">
            <h2>Мы уже с Вами начали разбирать задания по истории, а сегодня давайте сделаем акцент на обществознании.</h2>

            <p>Если в истории мы начинаем с Древней Руси и заканчиваем современностью, то в обществознании все начинается с философского блока и темы "Биологическое и социальное в человеке"</p>

            <p>❗Сразу запоминаем, что проблемами происхождения человека занимается АНТРОПОГЕНЕЗ.</p>

            <p>
                ❗Существует несколько ответов на вопрос - откуда мы, блин, взялись?
                Самые популярные из них - создал Бог / на Землю завезли пришельцы из космоса / от обезьян.
            </p>

            <p>❗ Если официально, то это религиозная теория, теория ПАЛЕОВИЗИТА (слово то какое) и эволюционная теория Дарвина или естественно- научная теория.</p>

            <p>❗Далее обязательно запоминаем, что человек это БИОСОЦИАЛЬНОЕ существо, т.е. с одной стороны мы - млекопитающие, с другой - неразрывно связаны с обществом.</p>

            <p>❗От животных нас отличает членораздельная речь, мышление, способность заниматься творчеством и способность действовать не только инстинктивно, но и сознательно. Это грубо говоря.</p>

            <p>Допустим, если Вы напились в ЗЮЗЮ и не способны адекватно думать и говорить - то можно сказать, что в этот момент Вы ближе к животным, чем к людям :D</p>

            <p>❗Еще запомните, что человек считается высшей ступенью развития живых организмов на Земле. Хотя я не совсем с этим согласна.</p>
            <img src="~/Images/blog/BMN30JeD2Vw.jpg" alt="Alternate Text" />
        </div>
        <div class="note">
            <h2>Сегодня мы с Вами обсудим тему, которая посвящена восточно-славянским племенам (ВСП)</h2>
            <p>А точнее - их расселению. Именно с этой темы начинаются практически все занятия по подготовке к ОГЭ и ЕГЭ.</p>
            <p>Вопросы, касающиеся расселения ВСП, на самом экзамене чаще всего представлены либо в формате КАРТ, либо в ТАБЛИЧНОМ формате. </p>
            <p>❗В первом случае Вам придется ВИЗУАЛЬНО запомнить места бытования ВСП. Я обычно советую запоминать их с севера на юг (ну или сверху вниз), а далее по змейке (на карте показано, как именно)</p>
            <p>Хотя смотрите сами - может, найдете более удобный способ. + Когда вы раз пять нарисуете эту карту по памяти, названия племен и их расположение невольно запомнятся)</p>
            <p>❗Во втором случае Вам понадобится не только эта информация - Вы должны НА СЛОВАХ знать, где и какое племя расположено. Например, Ильменские словене - вокруг озера Ильмень, река Волхов.</p>
            <p>Поэтому совет - когда тренируетесь и рисуете карту, не просто запоминайте место бытования каждого племени ВИЗУАЛЬНО, но и вслух ПРОГОВАРИВАЙТЕ, где оно находится. </p>
            <p>Табличку со словесным описанием расположения прикрепляю к посту)</p>
            <p>Распечатывайте все материалы - так гораздо удобнее работать и быстрее запоминается материал, знаю по собственному опыту. </p>
            <p>Если ничего не понятно, и я криво все расписала (а я могу :D), или если хотите узнать больше - пишите, буду ждать)</p>
            <img src="~/Images/blog/c4M2vc4wyPc.jpg" alt="Alternate Text" style="float:left" />
            <img src="~/Images/blog/laW59cQ041A.jpg" alt="Alternate Text" />
        </div>
    </div>
</body>