<div id="header">
    <div id="information-block">
        <ul id="menu">
            <li class="menu-item top-line"><a href="~/Pages/AdminBar">редактор занятий</a></li>
            <li class="menu-item top-line"><a href="~/Pages/lessons">занятия</a></li>
            <li class="menu-item top-line"><a href="~/Pages/users">ученики</a></li>
            <li class="menu-item top-line"><a href="~/Pages/trialLesson">бесплатные занятия</a></li>
            <li class="menu-item bottom-line"><a href="~/Pages/blog">блог</a></li>
        </ul>
    </div>
    <div id="signOut">
        <a href="~/Pages/signOut">Выйти</a>
    </div>
</div>